@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
* {
  font-family: Outfit;
}
@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}
.font-playfair {
  font-family: Playfair !important;
}
